.c43{background:#fdff00;border:1px solid #000;color:#000;}
.c43:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c63{background:#fdff00;border:1px solid #000;color:#000;}
.c63:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c59{background:#fdff00;border:1px solid #000;color:#000;}
.c59:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c60{background:#fdff00;border:1px solid #000;color:#000;}
.c60:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c44{background:#fdff00;border:1px solid #000;color:#000;}
.c44:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c45{background:#fdff00;border:1px solid #000;color:#000;}
.c45:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c46{background:#fdff00;border:1px solid #000;color:#000;}
.c46:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c47{background:#fdff00;border:1px solid #000;color:#000;}
.c47:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c48{background:#fdff00;border:1px solid #000;color:#000;}
.c48:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c49{background:#fdff00;border:1px solid #000;color:#000;}
.c49:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c50{background:#fdff00;border:1px solid #000;color:#000;}
.c50:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c51{background:#fdff00;border:1px solid #000;color:#000;}
.c51:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c52{background:#fdff00;border:1px solid #000;color:#000;}
.c52:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c53{background:#fdff00;border:1px solid #000;color:#000;}
.c53:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c54{background:#fdff00;border:1px solid #000;color:#000;}
.c54:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c58{background:#fdff00;border:1px solid #000;color:#000;}
.c58:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c61{background:#fdff00;border:1px solid #000;color:#000;}
.c61:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c62{background:#fdff00;border:1px solid #000;color:#000;}
.c62:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c40{background:#fdff00;border:1px solid #000;color:#000;}
.c40:hover{background:#0000cc;border:1px solid #000;color:#000;}
.c56{background:#fdff00;border:1px solid #000;color:#000;}
.c56:hover{background:#0000cc;border:1px solid #000;color:#000;}
