.prolistactions{text-align:right;}
.prolistactions .prolistprice{padding:5px;}
.multibuy{text-align:right;position:relative;clear:both;}
.multibuy .prolistoption{padding:5px;}
.multibuy .prolistoption .listoptionname{position:absolute;left:0;}
#categories .item .catpad{text-align:center;margin:2px 0;}
#categories .item a.cat_item{height:70;display:block;font-size:20px;border:1px solid #eee;padding:10px;vertical-align:middle;}
.footer{border:0;}
#loginModules{width:100%;margin:auto;}
@media only screen and (min-width : 768px) {
#loginModules{width:750px;margin:auto;}
}
.sidebtn{margin:30px 0;}
.sidebtn .btn-success{width:100%;}